{% extends 'base.html' %}

{% block body %}
    <div class="container table-responsive-lg">
      <br>
        <h4 class="ms-6">Pagina de Administração</h4>
          <form method="POST" action="" class="mx-auto">
            {{ form_carregarvoucher.csrf_token }}
            <div class="mb-3">
              {{ form_carregarvoucher.lista_carga.label(class="form-control-label") }}

                        {% if form_carregarvoucher.lista_carga.errors %}
                            {{ form_carregarvoucher.lista_carga(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for erro in form_carregarvoucher.lista_carga.errors %}
                                    {{ erro }}
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form_carregarvoucher.lista_carga(class="form-control") }}
                        {% endif %}
              <br>
              <div>
                {{ form_carregarvoucher.botao_submit_carregarvoucher(class="btn btn-primary") }}
              </div>
            </div>
          </form>
          <br>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Filtrar Vouchers
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Vouchers Usados</a></li>
              <li><a class="dropdown-item" href="#">Vouchers Novos</a></li>
            </ul>
          </div>
          <br>
        <table class="table tablet-striped bg-light">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Codigo Voucher</th>
                <th scope="col">Usado</th>
                <th scope="col">solicitante</th>
                <th scope="col">CPF</th>
                <th scope="col">Data de Uso</th>
              </tr>
            </thead>
            <tbody>
            <tr>
            {% for i in range(tam_lista) %}
            <tr>
                <th scope="row">{{i}}</th>
                <td>{{ lista_organizada[i].cod_voucher}}</td>
                <td>{{ lista_organizada[i].usado }}</td>
                <td>{{ lista_organizada[i].solicitante }}</td>
                <td>{{ lista_organizada[i].cpf}}</td>
                <td>{{ lista_organizada[i].data_uso }}</td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
    </div>
{% endblock %}
