{% extends 'base.html' %}

{% block body %}
        <div class="container">
            <form method="POST" action="" class="mx-auto" style="width: 200px;">
                {{ form_login.csrf_token }}
                <legend>Login</legend>
                <hr>
                <fieldset>
                    <div class="form-group">
                        {{ form_login.username.label(class="form-control-label") }}
                        
                        {% if form_login.username.errors %}
                            {{ form_login.username(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for erro in form_login.username.errors %}
                                    {{ erro }}
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form_login.username(class="form-control") }}
                        {% endif %}

                        {{ form_login.senha.label(class="form-control-label") }}
                        {% if form_login.senha.errors %}
                            {{ form_login.senha(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for erro in form_login.senha.errors %}
                                    {{ erro }}
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form_login.senha(class="form-control") }}
                        {% endif %}
                    </div>
                </fieldset>
                <br>
                {{ form_login.botao_submit_fazerlogin(class="btn btn-primary") }}
            </form>
        </div>
{% endblock %}